:host {
    display: grid;
    height: 100%;
}

.scene-wrap {
    display: grid;
    perspective: 10rem;
    place-items: center;
    border-radius: 1rem;
}

.scene {
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}