:host {
    display: grid;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: inline-block;
    margin: 0 auto;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.header-explanation {
    text-align: center;
}

.header-zoom-level {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.reference {
    text-align: center;
    height: 30svh;
}

.choices {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 25svh;
}

@media (max-width: 768px) {
    .reference {
        height: 25svh;
    }

    .choices {
        grid-template-columns: repeat(2, 1fr);
    }
}